<nav>
    <div class="menu">
      <a class="nav-link" routerLink="/" routerLinkActive="activo">Home</a>
      <a class="nav-link" routerLink="/informacion" routerLinkActive="activo">Información</a>
      <a class="nav-link" routerLink="/registro-facturas" routerLinkActive="activo">Registro de Facturas</a>
      <a class="nav-link" routerLink="/reporte" routerLinkActive="activo">Reporte</a>
      <a class="nav-link" routerLink="/impuesto" routerLinkActive="activo">Impuesto</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
  